body {
    background-color: #dff6ff;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #2c3e50;
}

h2 {
    color: #27ae60;
}

img {
    width: 300px;
    display: block;
    margin: 10px auto;
}

p {
    font-size: 18px;
}